/* modal */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
    z-index: 9;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s 0s;
}

#modal1{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    width: 55%;
    height: 65%;
    background-image: url(../img/ModalRosaEdpass.svg);
    background-size: cover;
    border-radius: 20px;
    display: none;
}

#modal3{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    width: 55%;
    height: 65%;
    background-image: url(../img/ModalRosaEdpass.svg);
    background-size: cover;
    border-radius: 20px;
    display: none;
}

#modal2{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    width: 55%;
    height: 65%;
    background-image: url(../img/ModalVerdeEdpass.svg);
    background-size: cover;
    border-radius: 20px;
    display: none;
}

#modal4{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    width: 55%;
    height: 65%;
    background-image: url(../img/ModalVerdeEdpass.svg);
    background-size: cover;
    border-radius: 20px;
    display: none;
}


.modal-content-edpass {
    height: 85%;
    width: 80%;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    display: flex;
}

.modal-img {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.gg-img {
    width: 90%;
    height: 65%;
    border-radius: 3px;
    margin-top: 10%;
    margin-bottom: 5%;
}

.area-img-p {
    width: 100%;
}

.p-img{
    width: 22%;
    height: auto;
    border-radius: 3px;
}

.txt-content-modal {
    width: 40%;
    height: auto; 
    max-height: none; 
    margin-top: 40px; 
    justify-content: center;
    text-align: center;
}

.title-modal1{
    width: 100%;
    font-size: 2rem;
    color: #FF3877;
    text-align: left;
    margin-top: 20px;
    text-transform: uppercase;
}

.title-modal2{
    width: 100%;
    font-size: 2rem;
    color: #007E70;
    text-align: left;
    margin-top: 20px;
    text-transform: uppercase;
}

.area-texto {
    height: 50%; 
    margin-top: 20px; 
    scrollbar-gutter: stable both-edges;
    overflow-y: auto; 
}

.modal-texto{
    height: 90%; 
    font-size: 16px;
    line-height: 1.4;
    overflow-y: auto; 
    color: #505050;
    text-align: left;
    padding: 10px; 
}

::-webkit-scrollbar{
    width: 2px;
    height: 8px;
}

::-webkit-scrollbar-track{
    background: #ffffff00;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb{
    background: #a1a0a3;
    border-radius: 5px;
}

.close {
    color: #000000;
    font-size: 40px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #666364;
    text-decoration: none;
}