@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0 auto;
    background-color: white;
    overflow: hidden;
}

.cabecalho {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.24);
    margin-bottom: 10px;
    position: fixed;
    z-index: 3;
    background-color: #fff;
}

.logo {
    width: 150px;
    margin: 5px 0px 0px 20px;
}

.logo img {
    width: 100%;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.menu .menu-icon {
    width: 40px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 20px;
}

.menu .menu-icon button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
}

.menu .menu-icon img {
    width: 100%;
}

.nav-bar {
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
}

.nav-bar ul {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-bar ul li {
    font-size: 1em;
    padding-right: 20px;
}

.nav-bar ul li a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.pesquisar-login {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pesquisar {
    display: flex;
    align-items: center;
    width: auto;
    margin-right: 50px;
}

.pesquisar input {
    width: 70%;
    height: 40px;
    border-radius: 5px;
    margin-right: -25px;
    padding-left: 5px;
}

.pesquisar .bola {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #0D592E;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/Lupa.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.login {
    margin-right: 30px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.login img {
    width: 100%;
}

.pesquisa {
    display: none;
}

.mobile-menu {
    display: none;
}




@media(max-width: 1500px) {
    .logo {
        width: 150px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cabecalho .logo img {
        width: 100%;
    }

    .cabecalho .nav-bar ul {
        font-size: 0.9em;
    }

    .cabecalho .pesquisar {
        width: 50px;
        height: 40px;
    }

    .cabecalho .pesquisar .input {
        display: none;
    }

    .cabecalho .pesquisar .bola {
        height: 50px;
        width: 50px;
    }

    .cabecalho .login {
        width: 50px;
        height: 50px;
    }

    .cabecalho .login img {
        width: 50px;
        height: 50px;
    }

    .pesquisar-login .pesquisar {
        display: flex;
        align-items: center;
        width: auto;
        margin-right: 30px;
        width: auto;
        height: 100%;
    }

    .pesquisar-login .pesquisar .bola {
        border-radius: 50%;
        width: 45px;
        height: 45px;
        background-color: #0D592E;
        display: flex;
    }

    .pesquisar-login .pesquisar .input {
        width: 110px;
        height: 35px;
        font-size: 0.6em;
        font-weight: 600;
        color: #000;
        border-radius: 5px;
        margin-right: -15px;
        padding-left: 10px;
    }

    .pesquisar-login .pesquisar .inputOpen {
        display: block;
    }

}

@media screen and (max-width: 750px) {
    .menu {
        justify-content: space-evenly;
    }
    .logo{
        margin-left: -20px;
        padding: 0px;
    }

    .nav-bar {
        display: none;
    }

    .menu .menu-icon {
        display: block;
    }

    .mobile-menu {
        width: 100%;
        height: 300px;
        background-color: #fff;
        position: fixed;
        top: -20px;
        margin-top: 90px;
        z-index: 3;
        border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    }

    .mobile-menu ul {
        text-align: center;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
        text-decoration: none;
    }

    .mobile-menu .nav-item a {
        text-decoration: none;
        color: #000;
    }

    .mobile-menu .btn-login {
        text-align: center;
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .btn-login .btnlogin {
        width: 100px;
        height: 30px;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-weight: 600;
        background-color: #0D592E;
    }

    .open {
        display: block;
    }

    .pequisa-mobile {
        height: 100%;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .pesquisa {
        display: flex;
        align-items: center;
        width: auto;
        margin-right: 30px;
        width: auto;
        height: 100%;
    }

    .pesquisa input {
        display: none;
    }

    .bola {
        border-radius: 50%;
        width: 45px;
        height: 45px;
        background-color: #0D592E;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("../img/Lupa.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
    }

    .pesquisa .input {
        width: 110px;
        height: 35px;
        font-size: 0.6em;
        font-weight: 600;
        color: #000;
        border-radius: 5px;
        margin-right: -15px;
        padding-left: 10px;
    }

    .pesquisa .inputOpen {
        display: block;
    }
}

@media screen and (max-width: 510px) {
    .logo {
        width: 100px;
    }
    .pequisa-mobile {
        justify-content: center;
    }

    .menu .menu-icon {
        width: 30px;
    }

    .bola {
        width: 35px;
        height: 35px;
    }
}


#btn-voltar-cb {
    font-size: 30px;
    margin-top: 35%;
    margin-right: 5%;
    z-index: 10;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.title-cb {
    margin-top: -50rem;
    position: relative;
    text-align: center;
    font-size: 32px;
    z-index: 2;
    font-weight: 500;
}

.forma-1-cb{
    position: absolute;
    top: 15vh; 
    right: 80vw; 
    z-index: 1;
    width: 20vw; 
}

.forma-3-cb{
    position: absolute;
    top: 10vh;
    left: 89vw;
    z-index: 1;
    width: 20vw;
    height: 100vh;
}

.forma-4-cb{
    position: absolute;
    top: 75vh;
    left: 85vw;
    z-index: 1;
}

.box-cb{
    width: 85%;
    height: 750px;
    max-width: 2000px;
    z-index: 2;
    backdrop-filter: blur(0px);
    background-color: rgba(248, 245, 246, 0.705);
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
    transition: all .5s ease;
    position: absolute;
}

.section-cb{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-cb{
    width: 150vh;
    height: 75vh;
    display: flex;
    position: relative;
    z-index: 2;
    margin-left: -5%;
    justify-content: center;
    align-items: center;
}

.area-form-cb{
    width: 90%;
    height: 90%;
    margin-top: 110%;
}

.form-cb{
    width: 90%;
    height: 80%;
    margin-top: 5%;
    margin-left: 5%;
}

.form-cb-input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #007E70;
    font-size: 15px;
    padding: 10px 10px;
    margin-top: 2px;
    color: #828080;
    cursor: pointer;
}

.label-cb{
    font-size: 15px;
}

.form-cb-btn-1{
    width: 74rem;
    height: 3rem;
    border: 1px solid #007E70;
    padding: 10px;
    margin-left: 60px;
}


.btn-salvar-cb{
    background-color: #007E70;
    color: white;
    width: 8rem;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.btn-cancelar-cb{
    background-color: #FF3877;
    color: white;
    width: 8rem;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.area-div-1-cb{
    width: 45%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.area-div-2-cb{
    width: 45%;
    height: 80%;
    margin-top: -40%;
    margin-left: 55%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.area-btn-cb{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 10%;
    gap: 280px;
    margin-left: 55%;
}

.pesquisa-cb {
    display: flex;
    align-items: center;
    width: 95rem;
    margin-right: 50px;
}

.pesquisa-cb input {
    width: 70%;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: 65px;
    margin-top: 30px;
    border: 1px solid #007E70;
}

.pesquisa-cb .bola-cb {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #007E70;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/Lupa.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    margin-top: 30px;
    margin-left: 3%;
}

#option-cb{
    border: 1px solid #626262b9;
    border-radius: 5px;
}

input[type="file"] {
    display: none;
}

.custom-file-label {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #007E70;
    font-size: 15px;
    padding: 10px;
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    color: #828080;
    cursor: pointer;
    transition: 0.3s;
}

.custom-file-label:hover {
    background: #f0f0f0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: brightness(0) saturate(100%) invert(55%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(90%) contrast(90%);
}


@media screen and (max-width: 510px) {

}

@media screen and (max-width: 750px) {

}

@media(max-width: 1500px) {
    
}
